html, body {
  height: 100%;
}

body {
  padding-top: 100px;
  z-index: 0;
}

.wrapper {
  min-height: 100%;
}

footer {
  margin-top: 100px;
  padding-top: 25px;
}

footer a {
  color: #E0E0E0;
}

footer a:hover {
  color: #ffffff;
  text-decoration: none;
}
